.back_button {
    display: inline-block;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    margin-left: 50px;
    float: left; }